* {
    background-color: #f0f0f0;
    /* border: 1px solid red; */
    color: black;
}

.row .column {
    outline: 1px solid gray;
    background-color: white;
    /* display: flex; */
}

#grid-box {
    display: flex;
    border: 1px solid black;
}