* {
    background-color: #f0f0f0;
    /* border: 1px solid red; */
    color: black;
}

body {
    display: flex;
    /* to change next time */
    justify-content: center; 
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.cell {
    outline: 1px solid blue;
    background-color: lemonchiffon;
    /* width: 10px;
    height: 10px; */
    /* display: flex; */
}

#grid-box {
    border: 1px solid red;
    height: 300px;
    width: 300px;
}