* {
    background-color: silver;
    /* border: 1px solid red; */
    color: black;
    font-family: 'Roboto', serif;
}

body {
    text-align: center;
    margin: 0px;
}

.title {
    font-size: 72px;
    font-weight: 600;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: oldlace;
}

.content {
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 15%;
    gap: 5%;
    flex-wrap: wrap;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#user-colour {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-input {
    color: black;
    border: 2px solid black;
    cursor: pointer;
    font-size: 24px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fdf5e6;
    width: 200px
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.cell {
    outline: 1px solid black;
    background-color: #fdf5e6;
    /* width: 10px;
    height: 10px; */
    /* display: flex; */
}

#grid-box {
    border: 1px groove rgba(0, 0, 0, 0.2);
    height: 500px;
    width: 500px;
}